# Ignore everything:
*

# Do not ignore these files:
!emblem.tga
!Incarichi/
!Incarichi/a.lua
!Incarichi/incTab.lua
!Incarichi/incEm.lua
!Incarichi/incCom.lua
!Incarichi/incAd.lua
!Incarichi/incGi.lua
!Incarichi/incOf.lua
!Incarichi/incSys.lua
!121212.tga
!punto.ogg
!start.ogg
!fin.ogg
!NSQCu-8.exe
!achivC.lua
!coreC.lua
!NSQC.toc
!btn.lua
!LICENSE
!.gitignore
!functionsC.lua
!libs/
!libs/UTF8/
!libs/UTF8/utf8.lua
!libs/UTF8/UTF8.toc
!libs/UTF8/utf8data.lua
!minimap.lua
!gmList.lua
!README.md
!roll.lua
!risIcon.lua
!npcscan/
!npcscan/1.tga
!npcscan/2.tga
!npcscan/3.tga
!npcscan/npcscan.lua
!gob.ogg
!lvlUp.ogg
!officerSnifC.lua
!chiavi/
!chiavi/chiaviA.lua
!chiavi/chiaviG.lua
!chiavi/chiaviO.lua
!chiavi/mmList.lua
!chiavi/chiaviC.lua
