# Ignore everything:
*

# Do not ignore these files:
!emblem.tga
!Incarichi/
!Incarichi/a.lua
!Incarichi/incTab.lua
!Incarichi/incEm.lua
!Incarichi/incCom.lua
!Incarichi/incAd.lua
!Incarichi/incGi.lua
!Incarichi/incOf.lua
!Incarichi/incSys.lua
!121212.tga
!punto.ogg
!start.ogg
!fin.ogg
!achivC.lua
!coreC.lua
!NSQC.toc
!btn.lua
!LICENSE
!.gitignore
!functionsC.lua
!libs/
!libs/q.ogg
!libs/tx.ogg
!libs/t.ogg
!libs/f.ogg
!libs/clc.ogg
!libs/sh.ogg
!libs/ch.tga
!libs/m.ogg
!libs/z.tga
!libs/t.tga
!libs/f.tga
!libs/b.tga
!libs/kopkop.tga
!libs/toptop.tga
!libs/kopkop.ogg
!libs/toptop.ogg
!libs/mx.ogg
!libs/m.tga
!libs/zt.tga
!libs/h.tga
!libs/uz.tga
!libs/ms.tga
!libs/kopko.tga
!libs/topto.tga
!libs/stog.tga
!libs/UTF8/
!libs/UTF8/utf8.lua
!libs/UTF8/UTF8.toc
!libs/UTF8/utf8data.lua
!minimap.lua
!gmList.lua
!README.md
!roll.lua
!risIcon.lua
!npcscan/
!npcscan/1.tga
!npcscan/2.tga
!npcscan/3.tga
!npcscan/npcscan.lua
!gob.ogg
!lvlUp.ogg
!officerSnifC.lua
!chiavi/
!chiavi/chiaviA.lua
!chiavi/chiaviG.lua
!chiavi/chiaviO.lua
!chiavi/mmList.lua
!chiavi/chiaviC.lua
