# Ignore everything:
*

# Do not ignore these files:
!achivC.lua
!coreC.lua
!NSQC.toc
!btn.lua
!LICENSE
!.gitignore
!functionsC.lua
!libs/
!libs/UTF8/
!libs/UTF8/utf8.lua
!libs/UTF8/UTF8.toc
!libs/UTF8/utf8data.lua
!minimap.lua
!gmList.lua
!README.md
!roll.lua
!risIcon.lua
!test/
!test/*.tga
